/* TOOLBAR */
div.acCanvas div.toolbar {
	background: black;
	height: 26px;
	color:white;
}

div.acCanvas div.toolbar img {
	padding: 2px;
}

div.acCanvas span.langsel {
	display: block;
	float: left;
	padding: 2px;
}


div.acCanvas div.toolbar select {
	border: 1px solid #eee;
	background: #333;
	color: white;
}

div.acCanvas div.buttons1 {
	float: left;	
	height: 26px;
}


div.acCanvas div.buttons2 {
	float: right;	
	height: 26px;
}

div.acCanvas div.buttons1 a {
	width: 22px;	
	height: 22px;
	background: url(armycalc.png);
	display: block;
	float: left;
}

div.acCanvas div.buttons2 a {
	width: 22px;	
	height: 22px;
	background: url(armycalc.png);
	display: block;
	float: left;
}



div.acCanvas #acNew {  background-position: 0px -66px; }
div.acCanvas #acPrint {  background-position: -66px -44px; }
div.acCanvas #acRevalidate {  background-position: 0px -88px; }
div.acCanvas #acHelp {  background-position: -22px -88px; }

div.acCanvas #acMaximize {  background-position: -44px -132px; }
div.acCanvas #acMinimize {  background-position: -22px -132px; }







