
/* WORKSPACE */
div.acCanvas div.workspace {
	min-height: 150px;
	border: none;
	overflow: hidden;
	background-color: #ddd;
}
div.acCanvas div.workspace div.unitslist{
	float: left;
	width: 300px;
	height: 300px;
	/*
	overflow: auto;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
	*/
}
div.acCanvas div.workspace div.unitdetails{
	margin-left: 310px;
}
div.acCanvas div.workspace #acDetails{
	min-height: 100px;
	padding: 5px 0;

}


