
div.acCanvas {
	
	position: relative;
	min-height: 150px;
	background: white;
	font-family: 'Arial';
	font-size: 12px;
	border: 1px solid #555;
	height: 100%;	
}

div.acFullscreen {

	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

}

body.acFullscreen {
	height:100%;
	margin:0;
	padding:0;
}

/* TOOLBAR */
div.acCanvas div.toolbar {
	background: black;
	height: 40px;
	color:white;
}
div.acCanvas div.settings {
	float: left;	
	height: 40px;
}

div.acCanvas div.buttons {
	float: right;	
	height: 40px;
}

div.acCanvas div.buttons img {
	border: none;
}



/* MENU */
div.acCanvas div.menu {
	background: black;
	height: 22px;
	color: white;
	line-height: 22px;
}

/* WORKSPACE */
div.acCanvas div.workspace {
	min-height: 150px;
	border: none;
	overflow: auto;
}
div.acCanvas div.workspace div.unitslist{
	width:40%;
	float:left;
}
div.acCanvas div.workspace div.unitdetails{
	width:60%;
	float:right;
}
div.acCanvas div.workspace #acDetails{
	border:1px solid;;
}

/* STATUSBAR */
div.acCanvas div.statusbar {
	
	background: black;
	height: 20px;
	line-height: 20px;
	color: white;
	
}

div.acCanvas div.statusbar div.status {
	
	float:left;	
	
}

div.acCanvas div.statusbar div.link {
	
	float:right;	
	
}

div.acCanvas div.statusbar div.link a{
	
	color:white;

}


