
div.acCanvas p, div.acCanvas h2, div.acCanvas div {
	margin:0;
	padding:0;
}

div.acCanvas {
	
	position: relative;
	min-height: 150px;
	background: white;
	font-family: 'Arial';
	font-size: 12px;
	border: 1px solid #555;
	height: 100%;	
}

div.acFullscreen {

	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

}

body.acFullscreen {
	height:100%;
	margin:0;
	padding:0;
}

div.acCanvas img {
	border: none;
}


/* TOOLBAR */
div.acCanvas div.toolbar {
	background: black;
	height: 40px;
	color:white;
}
div.acCanvas div.settings {
	float: left;	
	height: 40px;
}

div.acCanvas div.buttons {
	float: right;	
	height: 40px;
}



/* MENU */
div.acCanvas div.menu {
	background: black;
	height: 22px;
	color: white;
	line-height: 22px;
}

div.acCanvas div.menu #acElements {
	list-style-type: none;
	overflow: auto;
	margin:0;
	padding:0; 
}

div.acCanvas div.menu ul#acElements li {
	list-style-type: none;
	float:left;
}

div.acCanvas div.menu ul#acElements li a {
  display: block;
  color: white;
  text-decoration: none;
}

div.acCanvas div.menu ul#acElements li a:hover {
  background: white;
  color:black;
}






/* WORKSPACE */
div.acCanvas div.workspace {
	min-height: 150px;
	border: none;
	overflow: auto;
}
div.acCanvas div.workspace div.unitslist{
	width:40%;
	float:left;
}
div.acCanvas div.workspace div.unitdetails{
	width:60%;
	float:right;
}
div.acCanvas div.workspace #acDetails{
	border:1px solid;;
}

/* STATUSBAR */
div.acCanvas div.statusbar {
	
	background: black;
	height: 20px;
	line-height: 20px;
	color: white;
	
}

div.acCanvas div.statusbar div.status {
	
	float:left;	
	
}

div.acCanvas div.statusbar div.link {
	
	float:right;	
	
}

div.acCanvas div.statusbar div.link a{
	
	color:white;

}

/* POPUP  */

div#acPopup {
  display:none;
  position: absolute;
  width: 400px;
  top:40px;
  border: 3px solid white;
  left: 50%;
  margin-left: -200px;
  z-index:2;  

}

div#acPopupBg {
  display:none;
  position:fixed;  
  height:100%;  
  width:100%;  
  top:0;  
  left:0;  
  background:#000000;  
  z-index:1;
  filter:alpha(opacity=60); 
  -moz-opacity: 0.6; 
  opacity: 0.6; 

}

div#acPopup a#acClosePopup {
  position: absolute;
  width: 22px;
  height: 22px;
  top:0;
  right:0;

}


div#acPopup h2#acPopupTitle {
  background: black;
  color: white;
  height: 24px;
  padding:0;
  margin:0;


}

div#acPopup div#acPopupContent {
  
  min-height: 400px;
  background: white;
}


