
div.acCanvas p, div.acCanvas h2, div.acCanvas div {
	margin:0;
	padding:0;
}

div.acCanvas {
	
	position: relative;
	min-height: 150px;
	background: white;
	font-family: 'Arial';
	font-size: 12px;
	border: 1px solid #555;
	height: 100%;	
}

div.acFullscreen {

	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

}

body.acFullscreen {
	height:100%;
	margin:0;
	padding:0;
}

div.acCanvas img {
	border: none;
}

div.acCanvas a:focus {
    outline: none;
}


/* MENU */

div.acCanvas div.menucontainer {
	background: black;
	min-height: 25px;
	color: white;
	line-height: 22px;
	margin-bottom: 7px;
}

div.acCanvas div.menu {
	position:absolute;	
	z-index:10;
	/*
	left:20px;
	margin-left:-2.5em;
	width:80%;
	*/
}

div.acCanvas div.menu #acElements li>ul { 
	top: auto;
	left: auto;
}

div.acCanvas div.menu #acElements {
	list-style: none;
}

div.acCanvas div.menu #acElements ul { 
	padding: 0;
	margin:0;
	list-style: none;
    width:10em;
    z-index:99;
    position:relative;
    overflow:visible;  
}

div.acCanvas div.menu #acElements li { 
    margin:0;   
    position: relative; 
    float:left;
	width: 10em;
	background-color: black;
    border:solid 1px #444;
    display:block;
    height:auto;
}

div.acCanvas div.menu #acElements ul li{ 
	background-color: black;
}

div.acCanvas div.menu #acElements ul li{
	border-width:1px 1px 0 0;
}

div.acCanvas div.menu #acElements ul ul li{ 
	border-width:1px 1px 0 1px;
}

div.acCanvas div.menu #acElements ul ul li:last-child { 
	border-width:1px;
}
 
div.acCanvas div.menu #acElements a {
	text-align: center;
    text-decoration:none; 
    display:block;
	color: white;
	white-space: nowrap;
	/* padding: 0.1em;  
    margin:0.2em 0 0.2em 0.1em; 
    width:11.5em; 
    height:1.05em; */
}

div.acCanvas div.menu #acElements a:hover {
	background-color: white;
	color: black;
}
/* div.acCanvas div.menu #acElements a:hover, div.acCanvas div.menu #acElements li:hover, div.acCanvas div.menu #acElements ul li:hover, div.acCanvas div.menu #acElements ul li a:hover */

div.acCanvas div.menu #acElements ul{
    display:none;   
}

/*all see this */
div.acCanvas div.menu #acElements ul ul, div.acCanvas div.menu #acElements ul ul ul{
    display:none; 
    position:absolute; 
    margin-top:-1.8em; 
    margin-left:10em;
}

/* non-IE browsers see this */
div.acCanvas div.menu #acElements ul li>ul, div.acCanvas div.menu #acElements ul ul li>ul {
    margin-top:-1.35em; 
}

 
div.acCanvas div.menu #acElements li:hover ul ul, div.acCanvas div.menu #acElements li:hover ul ul ul, div.acCanvas div.menu #acElements li:hover ul ul ul ul, div.acCanvas div.menu #acElements li:hover ul ul ul ul ul {
    display:none;
}

div.acCanvas div.menu #acElements li:hover ul, div.acCanvas div.menu #acElements ul li:hover ul, div.acCanvas div.menu #acElements ul ul li:hover ul, div.acCanvas div.menu #acElements ul ul ul li:hover ul, div.acCanvas div.menu #acElements ul ul ul ul li:hover ul {
    /* display:block; */
}




/* STATUSBAR */
div.acCanvas div.statusbar {
	
	background: black;
	height: 20px;
	line-height: 20px;
	color: white;
	
}

div.acCanvas div.statusbar div.status {
	
	float:left;	
	
}

div.acCanvas div.statusbar div.link {
	
	float:right;	
	
}

div.acCanvas div.statusbar div.link a{
	
	color:white;

}

/* TOOLBAR */
div.acCanvas div.toolbar {
	background: black;
	height: 26px;
	color:white;
}

div.acCanvas div.toolbar img {
	padding: 2px;
}

div.acCanvas span.langsel {
	display: block;
	float: left;
	padding: 2px;
}


div.acCanvas div.toolbar select {
	border: 1px solid #eee;
	background: #333;
	color: white;
}

div.acCanvas div.buttons1 {
	float: left;	
	height: 26px;
}


div.acCanvas div.buttons2 {
	float: right;	
	height: 26px;
}





div.acCanvas ul.errors li {
	padding: 5px;
}

div.acCanvas ul.errors li.error {
	color: red;
	font-weight: bold;
}



/* POPUP  */

div#acPopup {
  display:none;
  position: absolute;
  width: 400px;
  top:40px;
  border: 3px solid white;
  left: 50%;
  margin-left: -200px;
  z-index:200;  

}

div#acPopupBg {
  display:none;
  position:fixed;  
  height:100%;  
  width:100%;  
  top:0;  
  left:0;  
  background:#000000;  
  z-index:1;
  filter:alpha(opacity=60); 
  -moz-opacity: 0.6; 
  opacity: 0.6; 

}

div#acPopup a#acClosePopup {
  position: absolute;
  width: 22px;
  height: 22px;
  top:0;
  right:0;
  padding:3px;
}


div#acPopup h2#acPopupTitle {
  background: black;
  color: white;
  height: 28px;
  padding: 0 5px;
  margin: 0;
  line-height: 28px;
  font-size: 14px;
  font-weight: bold;

}

div#acPopup div#acPopupContent {
  
  min-height: 100px;
  background: white;
  overflow: auto;
}

div#acPopup div#acPopupContent div.piece {
  border: 1px dashed #ddd;
  margin: 5px;
  padding: 10px;
  font-size: 12px;
  line-height: 16px;
  background: none repeat scroll 0 0 #EEEEEE;
  font-style: italic;
  color: #222;
}

div#acPopup div#acPopupContent div.piece h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

div#acPopup div#acPopupContent div.submit {
  border: 1px dashed #ddd;
  margin: 5px;
  padding: 10px;
  overflow: auto;
}


div#acPopup div#acPopupContent label {
  
  display: block;
  border: 1px dashed #ddd;
  margin: 5px;
  padding: 5px;
  overflow: auto;

}

div#acPopup input, div#acPopup select {
  
  width: 200px;
  border: 1px solid #aaa;
  float: right;
  
}


 



div.acCanvas .submenu li {
}

div.acCanvas .submenu img {
	display: block;
	margin: 5px auto;
}


div.acCanvas .submenu li a {
    background-image: url("img/icon_append.png");
    background-position: 5px 5px;
    background-repeat: no-repeat;
    color: black;
    display: block;
    line-height: 16px;
    padding: 5px 5px 5px 25px;
    text-decoration: none;
}

div.acCanvas .submenu li a:hover {
	font-weight: bold;
}
 

/* UNITS LIST */
div.acCanvas #acUnits {
	background-color: white;
	min-height: 200px;
}

div.acCanvas #acUnits ul {

	padding-left: 20px;
	display: block;

}

div.acCanvas #acUnits li {
}

div.acCanvas #acUnits li a {
	display:block;
	line-height: 16px;
	padding: 2px;
	text-decoration: none;
	color: black;
}

div.acCanvas #acUnits > li > a {
	font-weight: bold;
}	

div.acCanvas #acUnits li a.focus {
	background: green;
}


div.acCanvas span.st {
	width: 35px;
	float: right;
	display: block;
	text-align: center;
	border-right: 1px solid #555;
}

div.acCanvas span.cst {
	width: 35px;
	float: right;
	display: block;
	text-align: center;
	border-left: 1px solid #555;
}

div.acCanvas #acUnitsHeader div.title {
	
	overflow: auto;
	padding:2px;
	font-weight: bold;
	border-bottom: 1px solid #555;
}




/* WORKSPACE */
div.acCanvas div.workspace {
	min-height: 150px;
	border: none;
	overflow: hidden;
	background-color: #ddd;
}
div.acCanvas div.workspace div.unitslist{
	margin-left: 160px;
	height: 300px;
	/*
	overflow: auto;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
	*/
}
div.acCanvas div.workspace div.unitdetails{
	width: 160px;
	float: left;
}
div.acCanvas div.workspace #acDetails{
	min-height: 100px;
	padding: 5px 0;

}

div.acCanvas #acDetails ul.actions {
	overflow: hidden;
	height: 34px;
}

div.acCanvas #acDetails ul.actions li {
	float: left;
}

div.acCanvas #acDetails ul.actions li a {
	display: block;
}

